<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-navbar py-2">
    <div class="container">
        <a class="navbar-brand text-white fs-2 fw-bold" href="#">StockSync</a>
       <!-- Navbar Toggler Button -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <span></span>
        <span></span>
        <span></span>
    </span>
</button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2" href="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2" href="/product-images">Product Images</a>
                </li>
               <!-- Check if the user is authenticated -->
        <li *ngIf="!isAuthenticated" class="nav-item">
            <a class="nav-link text-white px-3 py-2" href="/login">Login</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item">
            <a class="nav-link text-white px-3 py-2" href="/register">Sign Up</a>
          </li>
  
          <!-- Display username and logout if authenticated -->
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="nav-link text-white px-3 py-2" href="javascript:void(0)">{{ username }}</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="nav-link text-white px-3 py-2" href="javascript:void(0)" (click)="logout()">Logout</a>
          </li>
            </ul>
        </div>
    </div>
</nav>
